<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BlueBird Viagens</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
    <style>
        /********************* Rodapé *********************/
        html {
            height: 100%;
        }

        body {
            min-height: 100% !important;
            position: relative;
        }

        body::after {
            content: '';
            display: block;
            height: 150px;
        }

        /********************* Nav *********************/
        nav {
            background-color: #337ab7;
            border: none !important;
        }

        nav a {
            color: #ffffff;
        }

        nav a:hover {
            color: #337ab7;
        }

        a.navbar-brand:hover {
            color: #ffffff !important;
            cursor: default;
        }

        .navbar .navbar-header .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

        .navbar .navbar-header .navbar-toggle {
            color: #ffffff;
            border-color: #ffffff;
        }

        #ajuste-nav {
            width: 90% !important;
            max-width: 1170px;
        }

        /********************* Botões *********************/
        .ajuste-botao .btn {
            margin-bottom: 5px !important;
        }

        .ajuste-botao.text-right {
            text-align: left !important;
        }

        @@media (min-width: 992px) {
            .ajuste-botao {
                text-align: right !important;
            }
        }
        .checkbox input[type="checkbox"] {
            margin-left: -5px !important;
        }
        /********************* Linha hr *********************/
        hr {
            border-color: #337ab7;
            opacity: 0.5;
        }
    </style>
    <script>
        /********************* Formatação nav responsivo *********************/
        const ajustaNav = () => {
            const width = window.innerWidth;
            const aLogo = document.getElementById('aLogo');
            const spanLogo = document.getElementById('spanLogo');

            if (width > 767 && width < 920) {
                aLogo.style.padding = '15px 0px';
                aLogo.style.marginLeft = '-45px';
                spanLogo.style.display = 'none';
            } else {
                aLogo.style.padding = '15px 15px';
                aLogo.style.marginLeft = '-15px';
                spanLogo.style.display = 'inline';
            }
        };
        window.addEventListener('load', ajustaNav);
        window.addEventListener('resize', ajustaNav);
    </script>
</head>
<body onresize="ajustaNav" style="background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed; background-image: url('../Imagens/passaros-praia.jpg');">
    <nav class="navbar navbar-fixed-top">
        <div class="container" id="ajuste-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="aLogo" style="font-size: 1.3em;" class="navbar-brand">BlueBird <span id="spanLogo" style="font-size:0.7em;">Viagens</span></a>
            </div>
            <div id="collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Destinos", "Index", "Destinos")</li>
                    <li>@Html.ActionLink("Promoções", "Index", "Promocoes")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <main class="container body-content" style="background-color: rgba(255,255,255,0.65); border: none; border-radius: 15px; margin-top: 20px;">
        @RenderBody()
    </main>
    <footer class="text-center bg-primary" style="width:100%;position:absolute;bottom:0px;">
        <br />
        <span>&copy; @DateTime.Now.Year - BlueBird Viagens</span>
        <br />
        <span>Recode Pro - 2021</span>
        <br />
        <span>Projeto Agência de Viagens - Módulo 3</span>
        <br />
        <span>Desenvolvedor: Vítor Mateus Santos Parreiras</span>
        <br />
        <address>
            <span>Contato:</span> <a style="color:white;" href="mailto:vitor7jan@gmail.com">vitor7jan@gmail.com</a>
        </address>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/helpers.js" defer></script>
</body>
</html>
